{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% include "herbarium/partials/head.html" %}

    <title>{% block title %}Herbário Universitário{% endblock title %}</title>
</head>
<body>


    {% include "herbarium/partials/header.html" %}
    <main class="container">

        {% block content %}
            <!-- O conteúdo de home.html, specimen_detail.html, etc., entrará aqui -->
        {% endblock content %}

    </main>

    <!-- 4. Puxa as informações fixas do rodapé -->
    {% include "herbarium/partials/footer.html" %}

    <script src="{% static 'herbarium/js/main.js' %}"></script>
</body>
</html>