<header class="main-header">
    <div class="container navbar">
        <a href="{% url 'herbarium:home' %}" class="logo-link">
            <span style="font-size: 2rem;">🌿</span>
            <div class="logo-text">
                <b>HERBÁRIO</b>
                <small>CIÊNCIA E TAXONOMIA</small>
            </div>
        </a>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'herbarium:home' %}">Início</a></li>
                <li><a href="{% url 'herbarium:login' %}" class="btn-admin">Acesso Curador</a></li>
            </ul>
        </nav>
    </div>
</header>